<h3><%= l(:sidebar_menu) %></h3>

<ul>
<li><%= link_to( l(:index_graph_name), {:controller => "k_chart", :project_id => @project, :action => "index"} ) %></li>
<li><%= link_to( l(:velocity_graph_name), {:controller => "k_chart", :project_id => @project, :action => "velocity"} ) %></li>
</ul>
